body{
    margin: 0;
}
span{
    color: red;
}
.card{
    width: 500px;
    height: fit-content;
    background-color: aliceblue;
    border-radius: 25px;
    border: solid 5px #4caa8c;
}
.boxImage{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 1px solid aquamarine;
    border-radius: 50px; 
}
.estiloH1{
    font-family: monospace, sans-serif;
    font-size: 30px;
}
.estiloRosa{
    color:magenta
}